<div class="container">
    <div [style.background-image]="backgroundStyle" class="background">
        <app-room-contents [viewIndex]="0"></app-room-contents>
    </div>
    <div [style.background-image]="backgroundStyle" class="background">
        <app-room-contents [viewIndex]="1"></app-room-contents>
    </div>
    <div [style.background-image]="backgroundStyle" class="background">
        <app-room-contents [viewIndex]="2"></app-room-contents>
    </div>
    <div [style.background-image]="backgroundStyle" class="background">
        <app-room-contents [viewIndex]="3"></app-room-contents>
    </div>
</div>